
<div class="card readyToTweet">
  <div class="card-body">
    <form #f="ngForm" (ngSubmit)="postTweet()" class="text-center">
      <div class="form-group ">
          <label for="tweet">What's on your mind?<textarea name="tweet" class="form-control" id="tweet" 
            rows="1" [(ngModel)]="tweet.tweet" (keyup)="keepTweet()">
          </textarea>
          </label>
      </div>
      <button [disabled]="!f.dirty" type="submit" class="btn btn-primary text-center">Tweet</button>
  </form> 
  </div>
</div>
            
         


<div class="card" *ngFor="let tweet of tweets">
    <div class="card-body list-inline">
        <a routerLink="/profile/{{tweet.owner?._id}}" routerLinkActive="router-link-active" >
          <img class="list-inline-item" src="{{tweet.owner?.picture}}" alt="{{tweet.owner?.username}}"
          class="mr-3">
        </a>
        <a routerLink="/profile/{{tweet.owner?._id}}" routerLinkActive="router-link-active" >
          <h6 class="card-title list-inline-item">{{tweet.owner?.firstName | titlecase}} {{tweet.owner?.lastName | titlecase}}
              <strong>@{{tweet.owner?.username}}</strong></h6>
        </a>
        <p class="card-text mt-3">{{tweet.tweet}}</p>
      <small class="text-muted ">{{tweet.dateTweeted | date : 'longDate'}}</small>
      <button *ngIf="tweet.owner?.username == authService.user.user.username"
       class="btn btn-danger btn-sm  float-right" type="button" (click)="deleteTweet(tweet._id)">Delete</button>
    </div>
  </div>

