.card-body {
    width: 335px;
}

.card {
    width: 335px;
}

img {
    border-radius: 50%;
    width: 40px;
}

textarea {
    width: 300px;
    height: 100px;
}

textarea {
    border-radius: 30px;
}

.readyToTweet{
    background-color: #E8F5FD;
}

@media (min-width: 768px) {
    .card-body {
        width: 510px;
    }
    
    .card {
        width: 510px;
    }
    textarea {
        width: 450px;
        }
    .btn-primary{
        float: left;
    }
}

@media screen and (min-width: 0px) and  (max-width: 767px) {
    .card {
        margin-left: 11px;
    }
}



