@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules//alertifyjs/build/css/themes/bootstrap.min.css";

.navbar {
    margin-bottom: 40px
}

.auth-form {
    padding: 40px;
    color: white
}

.content {
    min-height: calc(100vh - 70px);
  }

.footer {
height: 50px;
}

a {
    color: white;
}
