@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules//alertifyjs/build/css/themes/bootstrap.min.css";

.navbar {
    margin-bottom: 40px
}

.auth-form {
    padding: 40px;
    color: white
}

.content {
    min-height: calc(100vh - 70px);
  }

.footer {
height: 50px;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary .ajs-button.ajs-ok {
    background-color: red;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary .ajs-button {
    border-radius: 30px;
}

a {
    color: black;
}

@media screen and (min-width: 0px) and  (max-width: 767px) {
    .card {
        border: none;
    }
}
