<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <input [(ngModel)]="searchTweet.search" name="search" (keyup)="search()" type="text" id="dropdownBasic1" ngbDropdownToggle class="form-control" placeholder="Search...">
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <div *ngFor="let user of users" class="ml-2">
              <a routerLink="/profile/{{user?.username}}" routerLinkActive="router-link-active" (click)="route({user?._id)">
                <img class="list-inline-item" src="{{user?.picture}}" alt="{{user?.username}}"
              class="mr-2">
            <h6 class="card-title list-inline-item">{{user?.firstName | titlecase}} {{user?.lastName | titlecase}}
              <strong class="mr-3">@{{user?.username}}</strong></h6>
              </a>
              <hr>
          </div>
          <small class="text-muted ml-4">Search all people for <strong>{{searchTweet.search}}</strong></small>
        </div>
      </div>
  </div>
</div>
  
  