<div *ngIf="followings.length == 0 ">
  <h1>Not following anyone yet</h1>
</div>

<div *ngFor="let following of followings" class="card mb-3 mr-3" style="width: 18rem; display: inline-block;" >
    <div *ngIf="followings?.length == 1 && following._id == authService.user?.user._id">
        <h1>You're the user he's following</h1>
    </div>
   <div *ngIf="following._id != authService.user?.user._id">
    <a routerLink="/profile/{{following?._id}}" routerLinkActive="router-link-active" (click)="route()">
      <img class="card-img-top" src="{{following?.picture}}" alt="following?.username" style="height: 100px;">
    </a>
    <div class="card-body">
        <button *ngIf="authService.user?.user._id == userId" type="button" class="btn btn-primary float-right mr-5"
         (click)="unfollow(following?._id)">unfollow</button>
        <a routerLink="/profile/{{following?._id}}" routerLinkActive="router-link-active" (click)="route()">
          <strong>{{following?.firstName | titlecase}} {{following?.lastName | titlecase}}</strong>
        </a>
        <br>
        <small class="text-muted text-center">@{{following?.username}}</small>
      <div class="list-inline text-center">
        <small class="list-inline-item mr-3"><strong>Tweets</strong></small>
        <small class="list-inline-item mr-3"><strong>Following</strong></small>
        <small class="list-inline-item mr-3"><strong>Followers</strong></small>
      </div>
      <div class="list-inline text-center">
        <h4 class="list-inline-item mr-5">{{following?.tweets?.length}}</h4>
        <h4 class="list-inline-item mr-5">{{following?.following?.length}}</h4>
        <h4 class="list-inline-item mr-5">{{following?.followers?.length}}</h4>
      </div>
      <small class="text-center text-muted">Following</small>
    </div>
   </div>
</div>