.card-image-top {
    background-color: #e9ecef;
}

.img-profile {
    width: 200px;
}

img {
    border-radius: 50%;
}

.card-body-body {
    width: 410px;
}

.card-you {
    width: 410px;
}

.img-tweet {
    width: 40px;
}

.tabChange > h4 {
    color:  #1DA1F2;
    border-bottom: 3px solid #1DA1F2;
}

.unChange {
    color: black;
}

.btn-primary, .btn-outline-primary, .btn-outline-secondary {
    border-radius: 100px;
}

.clearfix { 
    display: block; 
    height: 0; 
    clear: both;
 }

 @media screen and (min-width: 0px) and  (max-width: 767px) {
    .button-change {
        width: 40px;
    }

    .list-inline {
        float: left;
    }

    .card-body-body {
        width: 340px;
    }
    
    .card-you {
        width: 340px;
    }
}
