<div class="content">
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
          <div class="container d-flex justify-content-between">
            <a [routerLink]="['']" routerLinkActive="router-link-active"  class="navbar-brand d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
               fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
               <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
               <circle cx="12" cy="13" r="4"></circle></svg>
              <strong>Twitter</strong>
            </a>
            <div *ngIf="authService.user?.user.username">
              <app-search></app-search>
            </div>
            <div class="list-inline">
                <img src="{{authService.user?.user.picture}}" alt="{{authService.user?.user.username}}"
                      class="mr-3" id="dropdownBasic1" [ngbTooltip]="tipContent" placement="bottom" triggers="click" [autoClose]="true">
              <button *ngIf="authService.user?.user.username" class="btn btn-primary btn-tweet" (click)="openModal(template)"><strong>Tweet</strong></button>
            </div>
          </div>
        </div>
      </header>

      <!-- Modal template -->
      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Compose new Tweet</h4>
          <button type="button" class="btn btn-default" (click)="confirm()" >
            <span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form #tweetForm ="ngForm" id="tweetForm" >
            <div class="form-group">
              <div class="input-group">
                <textarea name="tweet" cols="10" rows="3" class="form-control"
                 placeholder="What's happening?" [(ngModel)]="tweet.tweet"></textarea>
              </div>
            </div>
          </form>
          <button [disabled]="!tweetForm.dirty" form="tweetForm" type="button" class="btn btn-primary"
             (click)="modalRef.hide();postTweet()">Save</button>
        </div>
      </ng-template>

      <!-- Tooltip template -->
      <ng-template #tipContent>
        <div class="tooltip-inner">
            <p><strong>{{authService.user?.user.firstName | titlecase}}  {{authService.user?.user.lastName | titlecase}}</strong></p>
            <p class="text-muted">@{{authService.user?.user.username}}</p>
            <hr>
            <a [routerLink]="['/profile',authService.user?.user._id]" routerLinkActive="router-link-active" >
              <p><i class="far fa-user"></i> Profile</p>
            </a>
            <a *ngIf="authService.user?.user.username" (click)="logout()" style="cursor: pointer"><i class="fas fa-door-open"></i> logout</a>
        </div>
      </ng-template>
            
    <router-outlet></router-outlet>
</div>
 
