.navbar{
    padding: 0;
}

.btn-tweet {
    border-radius: 100px;
    margin: 5px;
}

img {
    border-radius: 50%;
    width: 50px;
}

textarea{
    border-radius: 30px;
    width: 300px;
}

img:hover {
    cursor: pointer;
}

.tooltip-inner {
    background-color: white;
    color: black;
    max-width: 400px;
    margin: 5px;
}

@media screen and (min-width: 0px) and  (max-width: 767px) {
    .img-profile {
        float: right;
    }
}
